<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="global.css") | safe }}">
    <meta name="description" content="{% if page.description %}{{ page.description | safe }}{% else %}{{ config.description | safe }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | safe }} :: {% endif %}{{ config.title | safe }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description | safe }}{% else %}{{ config.description | safe }}{% endif %}">
    <meta property="og:type" content="website">
    {% if current_url %}
    <meta property="og:url" content="{{ current_url | safe }}">
    <link rel="canonical" href="{{ current_url | safe }}">
    {% endif %}
    <link rel="icon" href="{{ config.extra.d3_icon | safe }}">
    <meta name="theme-color" content="#1F1E1E">
  </head>
  <body>
    {% if not config.extra.force_theme %}
    <script>
      const theme = sessionStorage.getItem('theme');
      const match = window.matchMedia("(prefers-color-scheme: dark)").matches
      if ((theme && theme == 'dark') || (!theme && match)) {
        document.body.classList.add('dark');
      }
    </script>
    {% endif %}
    <header>
      <a href="/" title="Home" rel="home">{{ config.extra.name | safe }}</a>
    </header>
    <div class="nav">
      <hr>
      <section class="links">
        <nav>
          {% for link in config.extra.d3_nav %}
            <a href="{{ link.path | safe }}">{{ link.name }}</a>
          {% endfor %}
        </nav>
        <div class="right">
          {% for link in config.extra.links %}
          <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel='noreferrer noopener'>
            {% set icon_path = "static/icon/" ~ link.icon ~ ".svg" %}
            {% set icon = load_data(path=icon_path) %}
            {{ icon | safe }}
          </a>
          {% endfor %}
          {% if not config.extra.force_theme %}
          {% set moon_icon = load_data(path="static/icon/moon.svg") %}
          {% set sun_icon = load_data(path="static/icon/sun.svg") %}
          <button id="theme-toggle" aria-label="theme switch">
            <span class="moon-icon">{{ moon_icon | safe }}</span>
            <span class="sun-icon">{{ sun_icon | safe }}</span>
          </button>
          {% endif %}
        </div>
      </section>
      <hr>
    </div>
    <main>
      {% block content %}{% endblock content %}
      <h2>Recent Bluesky posts</h2>
      {% set data = load_data(url="https://public.api.bsky.app/xrpc/app.bsky.feed.getAuthorFeed?actor=jonathanesperanza.com&limit=5&filter=posts_no_replies", format="json") %}
      <ul class="date-list">
      {% for post in data["feed"] %}
        <li>{{ post.post.record.createdAt | date(format="%d %b %Y") }}
          <a class="list-post-title" href="https://bsky.app/profile/jonathanesperanza.com/post/{{ post.post.uri | safe | trim_start_matches(pat='at://did:plc:vujiiabnnmmkaezefjdwsnqm/app.bsky.feed.post/') }}">
          {{ post.post.record.text | safe }}
        </a>
        </li>
      {% endfor %}
      </ul>
      <a href="https://bsky.app/profile/jonathanesperanza.com">All Bluesky posts</a>
    </main>
    <script src="/js/main.js"></script>
  </body>
</html>
